.footer {
    padding: 70px 0;
    background-color: $red;
    color: $white;
    top: -10px;
    margin-bottom: -10px;
    border-radius: 10px 10px 0 0 ;
    position: relative;
    @media(max-width:767px) {
        padding: 40px 0 70px 0;
       text-align: center;
       
    }
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        @media(max-width:767px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__item {
        @media(max-width:767px) {
            order: 2;
        }
        p {
            font-size: 14px;
            color: $white-light;
            opacity: 0.8;
        }
    }

    &__link {
        font-size: 24px;
        color: $white;
        margin-bottom: 10px;
        display: block;
    }

    &__logo {
        
        @media(max-width:767px) {
            order: 1;
        }
        svg {
            fill: $white;
            width: 110px;
            height: 57px;
        }
    }

    &__copy {
        font-size: 16px;
        color: $white-light;
        @media(max-width:767px) {
            order: 3;
        }
    }
}

